.navbar{
    height: 70px;
    width: 100%;
    background-color: #EC362D;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar p{
    font-weight: 700;
    font-size: 37px;
    color: white;
}

.containerCriaQuiz h1{
    text-align: center;
    width: 100%;
    font-weight: 700;
    font-size: 20px;
    margin-top: 70px;
    margin-bottom: 30px;
}

.containerCriaQuiz{
    background-color: #FAFAFA;
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerCriaQuiz > form{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.containerCriaQuiz form input:first-child{
    margin-top: 20px;
}
.containerCriaQuiz input{
    padding-left: 25px;
    color: #BABABA;
    font-weight: 400;
    font-size: 19px;
    font-style: italic;
    border: 1px solid #E8E8E8;
    width: 95%;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.containerCriaQuiz input::placeholder{
    font-weight: 400;
    font-style: italic;
    font-size: 19px;
    color: #BABABA;
}

.submit{
    border: 0;
    font-size: 21px;
    font-weight: 400;
    width: 350px;
    height: 55px;
    color: white;
    border-radius: 15px;
    margin-top: 85px;
    background-color: #EC362D;
}

.erro{
    font-weight: 400;
    font-size: 16px;
    padding-left: 25px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #EC362D;
    text-align: center;
    margin-bottom: 20px;
}

/*Tela criar perguntas*/

body{
    background-color: #FAFAFA;
}
.formulario{
    display: flex;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.pergunta .titulo{
    display: flex;
    align-items: center;
    height: 75px;
    justify-content: space-between;
}
.pergunta{
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}

.pergunta .titulo p{
    margin-left: 15px;
    font-weight: 700;
    font-size: 20px;
}
.pergunta .titulo > ion-icon{
    width: 26px;
    height: 23px;
    margin-right: 15px;
}
.mostrando{
    height: 825px;
}
.pergunta input:nth-child(2){
    margin-bottom: 0;
}
.pergunta input:nth-child(4){
    margin-bottom: 0;
}
.displayNone{
    display: none;
}
.titulo{
    width: 100%;
}
.titulo button{
    border: 0;
    background-color: inherit;
    width: 25px;
    height: 25px;
    margin-right: 15px;
}
.titulo button ion-icon{
    width: 25px;
    height: 25px;
}

.respostaCorreta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.respostaErrada{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
@media (max-width: 1100px) {
   /* ------------------------------Info basica quiz------------------------------ */
    .containerCriaQuiz form{
       width: 100vw;
    }
    .containerCriaQuiz h1{
       margin: 30px 0;
    }
    .submit{
      font-size: 18px;
       width: 95%;
       margin-top: 50px;
    }

    /*cria perguntas*/
    .pergunta{
        width: 100%;
    }

}
   