@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* ------------------------------Início página inicial------------------------------ */

main {
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 69px;
    background-color: #EC362D;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}

.usuario {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.titulo-quizzes-usuario {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 103px;
}

.titulo-quizzes-usuario ion-icon {
    font-size: 30px;
    color: #ec362d;
    margin-right: 17px;
}

.titulo-quizzes-usuario h1 {
    font-size: 20px;
    font-weight: 700;
    margin-left: 18px;
}

.quizzes-usuario {
    width: 100%;
    margin: 13px 17px 38px 3px;
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.quizz-usuario-vazio {
    width: calc(100% - 35px);
    height: 181px;
    margin: 100px 17px 0 18px;
    min-width: 340px;
    height: 181px;
    border: 1px dashed #d4d4d4;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.quizz-usuario-vazio h1 {
    width: 200px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #b9b9b9;
}

.quizz-usuario-vazio button {
    width: 151px;
    height: 40px;
    border: 1px dashed #ec362d;
    border-radius: 20px;
    font-size: 21px;
    color: #ec362d;
    opacity: 1;
    background-color: #fafafa;
    cursor: pointer;
}

.todos {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.titulo-quizzes-todos {
    width: 340px;
    margin-bottom: 14px;
    margin-left: 15px;
    font-size: 20px;
    font-weight: 700;
}

.quizzes-todos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 3px;
    margin-right: 17px;
    flex-shrink: 0;
}

.quizz {
    width: 340px;
    height: 181px;
    margin-bottom: 14px;
    margin-left: 15px;
    border-radius: 5px;
    position: relative;
}

.titulo-quizz {
    height: 54px;
    position: absolute;
    bottom: 6px;
    left: 17px;
    display: flex;
    align-items: center;
    font-size: 19px;
    font-weight: 400;
    color: #ffffff;
    text-align: left;
    line-height: calc(100% + 3px);
    z-index: 3;
    cursor: pointer;
}

.degrade {
    width: 340px;
    height: 181px;
    border-radius: 5px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    position: absolute;
    z-index: 2;
    cursor: pointer;
}

.quizz img {
    width: 340px;
    height: 181px;
    border-radius: 5px;
    position: relative;
    z-index: 0;
}

/* ------------------------------Final página inicial------------------------------ */

/* ------------------------------Início página quizz------------------------------ */
.banner {
    width: 100%;
    height: 142px;
    margin-top: 69px;
    position: relative;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: rgba(0, 0, 0, 0.6);

}

.titulo-banner {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    font-weight: 400;
    color: #ffffff;
    line-height: 20px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 51px;
    z-index: 2;
}

.opacidade {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 1;
}

.perguntas-pagina-quizz {
    width: 100%;
    margin: 0 auto;
    margin-top: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pergunta-pagina-quizz {
    width: 340px;
    margin-bottom: 69px;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
}

.titulo-pergunta {
    width: 340px;
    height: 89px;
    font-size: 19px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 3;
}

.resposta {
    width: 163px;
    height: 140px;
}

.resposta img {
    width: 163px;
    height: 113px;
}

.naoSelecionada {
    opacity: 0.3;
}

.resposta p {
    width: 140px;
    height: 22px;
    margin-top: 5px;
    font-size: 13px;
    font-weight: 700;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.certa {
    color: #009C22;
}

.errada {
    color: #FF4B4B;
}

.ocultar p {
    color: unset;
}

/* ------------------------------Final página quizz------------------------------ */

.hide {
    display: none;
}

@media (min-width: 1100px) {

    /* ------------------------------Início página inicial------------------------------ */

    .pagina-inicial {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .quizzes-usuario {
        width: 1051px;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-column-gap: 15px;
        grid-row-gap: 12px;
        margin: 10px 0 48px 0;
    }

    .quizz-usuario-vazio {
        width: 1051px;
        margin-top: 136px;
        margin-bottom: 29px;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .vazio {
        margin: 146px 0 77px 0;
    }

    .quizz-usuario {
        width: 1051px;
        margin: 0;
    }

    .titulo-quizzes-usuario {
        justify-content: unset;
        margin: 0;
        margin-top: 134px;
        margin-bottom: 10px;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .titulo-quizzes-usuario h1 {
        margin-left: 0;
    }

    .titulo-quizzes-usuario ion-icon {
        margin-right: 0;
        margin-left: 17px;
    }

    .quizzes-todos {
        width: 1051px;
        margin: 0;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-column-gap: 15px;
        grid-row-gap: 12px;
    }

    .titulo-quizzes-todos {
        grid-column-start: 1;
        grid-column-end: 4;
        margin-left: 0;
    }

    .quizz {
        margin: 0;
    }

    .hide {
        display: none;
    }

    /* ------------------------------Final página inicial------------------------------ */

    /* ------------------------------Início página inicial------------------------------ */
    .perguntas-pagina-quizz {
        width: 759px;
        margin: 0 auto;
        margin-top: 70px;
    }

    .pergunta-pagina-quizz {
        width: 685px;
        margin-bottom: 105px;
        grid-column-gap: 25px;
        grid-row-gap: 18px;
    }

    .titulo-pergunta {
        width: 685px;
        height: 138px;
        font-size: 23px;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .resposta {
        width: 330px;
        height: 217px;
    }

    .resposta img {
        width: 330px;
        height: 175px;
    }

    .resposta p {
        width: 330px;
        height: 34px;
        margin-top: 8px;
        font-size: 20px;
    }

    /* ------------------------------Final página quizz------------------------------ */
}